DATABASES = {
  'default': {
    # engine should be 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
    'ENGINE': 'django.db.backends.{{lemur_database_software}}',
    'NAME': '{{lemur_database_name}}',  # DB name or path to database file if using sqlite3.
{% if lemur_database_user is defined and lemur_database_user|length %}
    'USER': '{{lemur_database_user}}',  # Not used with sqlite3.
{% endif %}
{% if lemur_database_password is defined and lemur_database_password|length %}
    'PASSWORD': '{{lemur_database_password}}',  # Not used with sqlite3.
{% endif %}
    # 'HOST': '',  # Set to empty string for localhost. Not used with sqlite3.
    # 'PORT': '',  # Set to empty string for default. Not used with sqlite3.
  }
}

# secrets

# Make this unique, and don't share it with anybody.
SECRET_KEY = '{{lemur_secret_key}}'

RAVEN_CONFIG = {
  'dsn': '',    # must set this
  # If you are using git, you can also automatically configure the
  # release based on the git info.
  # 'release': raven.fetch_git_sha(os.path.dirname(os.pardir)),
}
