[Unit]
Description=Lemur uwsgi service

[Service]
ExecStart=/usr/bin/uwsgi_python3 --ini /var/www/btp-lemur/uwsgi.ini
RuntimeDirectory=uwsgi
User=www-data
Group=www-data
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
